@inherits LayoutComponentBase
<div class="topnav">
    <a href="/">Home</a>
    <a href="/campaigns">Campanhas</a>
    <a href="/campaigns/mine">Minhas Campanhas</a>
    <a href="/campaigns/create">Criar Campanha</a>
    <span class="spacer"></span>
    <LoginDisplay />
</div>
<div class="page">
    @Body
</div>
