@page "/characters/sheet"
<h3>Ficha de Personagem</h3>
<div class="rpg-sheet page">
    <IdentificationSection Character="character" IsReadOnly="true" />
    <AttributesSection Character="character" IsReadOnly="true" />
    <SavingThrowsSection Character="character" IsReadOnly="true" />
    <SkillsSection Character="character" IsReadOnly="true" />
    <AttacksSection Character="character" IsReadOnly="true" />
    <InventorySection Character="character" IsReadOnly="true" />
    <DescriptionSection Character="character" IsReadOnly="true" />
    <p>Percepção Passiva: @character.GetPassivePerception()</p>
    <p>CD de Magia: @character.GetSpellSaveDC()</p>
</div>

@code {
    Character character = new()
    {
        Name = "Herói",
        Race = "Humano",
        Class = "Guerreiro",
        Level = 1,
        Alignment = "ND",
        Background = "Um guerreiro corajoso.",
        Str = 15,
        Dex = 12,
        Con = 14,
        Int = 10,
        Wis = 13,
        Cha = 8
    };
}
