@page "/characters/edit"
<h3>Editar Personagem</h3>
<div class="rpg-sheet page">
    <IdentificationSection Character="character" />
    <AttributesSection Character="character" />
    <SavingThrowsSection Character="character" />
    <SkillsSection Character="character" />
    <AttacksSection Character="character" />
    <InventorySection Character="character" />
    <DescriptionSection Character="character" />
    <p>Percepção Passiva: @character.GetPassivePerception()</p>
    <p>CD de Magia: @character.GetSpellSaveDC()</p>
</div>

@code {
    Character character = new()
    {
        Name = "Novo Herói",
        Level = 1,
        Str = 10,
        Dex = 10,
        Con = 10,
        Int = 10,
        Wis = 10,
        Cha = 10
    };
}
